.po-container {
  /* margin-top: -10rem; */
  position: absolute;
  top: 3rem;
  left: 5rem;
  /* width: 1440px; */
  margin-right: 3rem;
  height: auto;
  display: flex;
  flex-direction: row;
  color: black;
}

.table-responsive_table-fullscreen {
  width: max-content;
  margin: 1rem 0;
  height: auto;
}

@media screen and (max-width: 1600px) {
  .table-responsive_table-fullscreen {
    width: 1440px;
  }
}

@media screen and (max-width: 1440px) {
  /* .po-container {
    width: 1280px;
  } */
  .table-responsive_table-fullscreen {
    width: 1280px;
  }
}

@media screen and (max-width: 1280px) {
  /* .po-container {
    width: 900px;
  } */

  .table-responsive_table-fullscreen {
    width: 900px;
  }
}

@media screen and (max-width: 900px) {
  /* .po-container {
    width: 900px;
  } */
  .table-responsive_table-fullscreen {
    width: fit-content;
  }
}
