.bold-header {
  font-weight: bold;
  background-color: #aed2ff;
  border: 1px solid blue;
}

.table-container {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 1440px;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .table-container {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 1280px;
    /* height: auto; */
  }
}

@media screen and (max-width: 1280px) {
  .table-container {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 1080px;
    /* height: auto; */
  }
}

@media screen and (max-width: 900px) {
  .table-container {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 720px;
    /* height: auto; */
  }
}
